.Pokecard {
   
    width: 250px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0, 0.55);
    text-align: center;
    background-color: rgba(202, 206, 200, 0.76);
    border-radius: 5px;
    
}
.Pokecard-data {
    font-size: 1rem;
}

.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: darkgray;
    border-radius: 5px;
    margin: 1rem;

}
.Pokecard img{
    transition: all ease 700ms;
}

.Pokecard img:hover {
   transform: scale(1.25);
   opacity: 0.7;
}