.Die {
    font-size: 7em;
    padding: 0.25em;
    color: steelblue;
   
}

.spinning {
    animation-name: spin;
    animation-duration: 1s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}